<?php if ($products = $block->getSkippedProducts()) { ?>
        <h3><?= __("Produkty pominięte podczas dodawania do koszyka");?></h3>
    <table>
        <tbody>
        <tr>
            <td>SKU</td>
            <td>Nazwa</td>
            <td>Cena</td>
            <td>Ilość</td>
            <td>Info</td>
        </tr>
        <?php if(is_array($products)){
            foreach ($products as $product){
                if(isset($product['sku']) && isset($product['name']) && isset($product['price']) && isset($product['qty']) && isset($product['info'])){
            ?>
            <tr>
                <td><?= $product['sku'];?></td>
                <td><?= $product['name'];?></td>
                <td><?= $product['price'];?></td>
                <td><?= $product['qty'];?></td>
                <td><?= $product['info'];?></td>
            </tr>
        <?php }}} ?>
        </tbody>
    </table>
<?php } ?>