<form id="dokument_mag" method="post" action="<?= /** @noEscape */
$block->getUrl('kowal_quickorder/index/save') ?>">
    <input name="form_key" type="hidden" value="<?php echo $block->formKey->getFormKey(); ?>">
    <div class="entry-edit form-inline">
        <div class="fieldset-wrapper" data-level="0" data-index="general">
            <div class="fieldset-wrapper-title" tabindex="-1">
                <strong class="title">
                    <span><?= __('Quick Order'); ?></span>
                </strong>
            </div>
            <div class="admin__fieldset-wrapper-content ">
                <fieldset class="admin__fieldset">


                    <div class="admin__field" data-index="import">
                        <div class="admin__field-label">
                            <label for="import">
                                <span><?= __("Paste from excel products to be released");?></span>
                            </label>
                        </div>
                        <div class="admin__field-control">
                            <textarea class="admin__control-textarea" name="products" cols="15" rows="10"
                                      aria-describedby="notice-IMEATY6" id="products"></textarea>
                            <p><?= __('Paste two columns without headers: SKU, Quantity'); ?></p>
                        </div>
                    </div>

                    <div class="admin__field" data-index="import">
                        <div class="admin__field-label">
                            <label for="magazyn">
                            </label>
                        </div>
                        <div class="admin__field-control">
                            <button class="action- scalable save primary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"
                                    type="submit" id="submit">
                                <span class="submit-text"><?= __('Add To Cart'); ?></span>
                                <div class="loading-dots">
                                    <span>.</span><span>.</span><span>.</span>
                                </div>
                            </button>
                        </div>
                    </div>
            </div>
        </div>
    </div>


</form>

 <div id="messageContainer"></div>

<script type="text/javascript">
    require([
        'jquery',
        "jquery/ui",
        "Magento_Customer/js/customer-data"
    ], function ($, ui, customerData) {
        "use strict";

        $('#dokument_mag').submit(function (e) {
            e.preventDefault();
            $("#submit").attr("disabled", true);
            $("#submit").addClass('loading');

            const $messageContainer = $('#messageContainer');

            var form = $(this);

            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: form.serialize(),
                timeout: 300000, // czas w milisekundach (w tym przypadku 5 minut)
                success: function (response) {
                    console.log(response);


                    var sections = ['cart'];
                    customerData.invalidate(sections);
                    customerData.reload(sections, true);
                    if(response.success) {
                        window.location.href = '/checkout/cart/';
                    }else{
                        $("#submit").attr("disabled", false);
                        $("#submit").removeClass('loading');
                        $("#products").val("");
                        console.log(response);
                        alert(response.message);
                    }
                },
                error: function(xhr, status, error) {
                    if(status === 'timeout') {
                        alert('Czas oczekiwania minął. Proszę spróbować ponownie.');
                    } else {
                        alert('Wystąpił błąd: ' + error);
                    }

                    $("#submit").attr("disabled", false);
                    $("#submit").removeClass('loading');
                    $("#products").val("");

                }
            });

            return false;
        });

    });


</script>

<style>
    #submit {
        position: relative;
        overflow: hidden;
    }

    #submit .loading-dots {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @keyframes dot-blink {
        0% { opacity: 0; }
        50% { opacity: 1; }
        100% { opacity: 0; }
    }

    .loading-dots span {
        animation: dot-blink 1s infinite;
    }

    .loading-dots span:nth-child(1) {
        animation-delay: 0s;
    }

    .loading-dots span:nth-child(2) {
        animation-delay: 0.2s;
    }

    .loading-dots span:nth-child(3) {
        animation-delay: 0.4s;
    }

    #submit.loading .loading-dots {
        display: block;
    }

    #submit.loading span.submit-text {
        display: none;
    }
</style>
